* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-right: 10px;
    line-height: 100%;
}

.container img {
    max-height: 50px;
    max-width: auto;
    justify-content: flex-start;
}

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.lnk-contact {
    font-weight: bold;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 20px;
    padding: 15px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #E63F3F;
    font-weight: bolder;
    transition-duration: 0.7s;
}

.buy-btn {
    padding-top: 10px;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px 15px;
    background-color: #E63F3F;
    color: white;
    box-shadow: 0 9px rgba(153, 153, 153, 0.596);
}

.buy-btn:hover {
    background-color: #bd3333;
}

.buy-btn:active {
    background-color: #E63F3F;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}